.header {
	&__top {
		height: 30px;
		p {
			font-size: 12px;
			margin: 0;
			line-height: 30px;
		}
	}
	&__dash {
		background: black;
		height: 1px;
		width: 40px;
		margin: 0 20px;
	}
	&__nav {
		background: $_MAIN;
	}
	&__logo {
		width: 165px;
  		height: 56px;
		margin: 12px 0;
	}
	&__button {
		color: white;
	}
	&__link {
		color: white;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 78px;
		margin-left: 30px;
		border-bottom: solid 2px transparent;
		&--active{
			>a {
			border-color: $_ACTIVE;
			}
		}
	}
	&__link:hover {
		color: $_ACTIVE;
		border-bottom: solid 2px $_ACTIVE;
	}
	&__dropdown {
		background: $_MAIN;
		border-radius: 0;
		transform: translate(0 38px);
	}
	&__navButton {
		height: 78px;
	}
}

@media (max-width: 720px) {
	.header__link {
		line-height: 40px;
	}
}