.backgroundImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: -1;
}

.whiteText {
	color: white;
	text-shadow:
    	-1px -1px 0 black,
    	 1px -1px 0 black,
    	-1px  1px 0 black,
    	 1px  1px 0 black;
}

.banner {
	&__wrapper {
		height: 630px;
		position: relative;
		padding: 0;
	}
	&__text {
		padding: 466px 130px 0 130px;
		width: 100%;
		height: 100%;
		&--title {
			font-size: 40px;
  			line-height: 1.25;
			margin-bottom: 20px;
		}
		&--excerpt {
			font-size: 18px;
  			line-height: 1.43;
		}
	}
}

.projectCard {
	&__wrapper {
		height: 420px;
		padding: 0;
		position: relative;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: -1;
	}
	&__text {
		padding: 300px 110px 0 130px;
		width: 100%;
		height: 100%;
		&--title {
			font-size: 30px;
  			line-height: 1.33;
			margin-bottom: 20px;
		}
		&--excerpt {
			font-size: 14px;
  			line-height: 1.43;
		}
	}
}

.newsCard {
	&__wrapper {
		border: solid 1px $_BORDER;
	}
	&__image {
		width: 100%;
	}
	&__title {
		font-size: 18px;
  		line-height: 1.33;
		margin: 30px 30px 20px 30px;
	}
	&__excerpt {
		font-size: 14px;
  		line-height: 1.43;
		margin: 0 30px 40px 30px;
	}
}

.newsButton {
	border-radius: 0;
	background: $_MAIN;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 18px 28px 18px 28px;
  	font-size: 18px;
	color: white;
}

.newsButton:hover {
	color: $_ACTIVE;
	text-decoration: none;
}

.fakeimage {
	height: 380px;
	width: 380px;
	background-image: linear-gradient(yellow, black);
	position: absolute;
	z-index: -1;
}

.page {
	&__title {
		&--homepage {
			font-size: 30px;
			color: $_MAIN;
			margin-top: 60px;
			margin-bottom: 40px;
			line-height: 1.33;
		}
		&--main {
			font-size: 30px;
			color: $_MAIN;
			margin-top: 60px;
		}
		&--name {
			font-size: 24px;
			color: $_MAIN;
			margin-top: 20px;
		}
		&--position {
			font-size: 16px;
			color: $_MAIN;
			margin-top: 10px;
			padding-bottom: 40px;
		}
	}
	&__card {
		margin-top: 40px;
	}
	&__image {
		height: 380px;
		width: 380px;
		position: absolute;
		z-index: -1;
		object-fit: cover;
		object-position: 50% 0;
	}
	&__description {
		background: transparent;
		color: transparent;
		transition: 1000ms;
		&--top {
			height: 380px;
			width: 380px;
			padding: 56px 30px 0 30px;
		}
		&--text1 {
			font-size: 14px !important;
			font-family: Montserrat;
			line-height: 1.43;
		}
		&--text1 {
			font-size: 16px !important;
			font-family: PlayfairDisplay;
			line-height: 1.38;
		}
	}
	&__description:hover{
		background: $_MAIN;
		opacity: 0.9;
		color: white;
	}
	&__description:hover *{
		transition: 500ms;
		color: white;
	}
}